{% extends 'base.html.twig' %}

{% block title %}Homepage!{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('app_homepage') }}">Homepage</a>
    </p>

    <p>
        {% set message = 'Symfony is great' %}
        {{ message|trans }}
    </p>

    <p>
        {% trans %}Hello %name%{% endtrans %}
    </p>

    <p>
        {% transchoice count %}
            {0} There are no apples|{1} There is one apple|]1,Inf[ There are %count% apples
        {% endtranschoice %}
    </p>
{% endblock %}
